<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="hostname" value="127.0.0.1" />
    <add key="port" value="2424" />
    <add key="root.name" value="root" />
    <add key="root.password" value="E651342F2D9C417D56DA4A57BD9D38E7FA991648787837133553B3DE8332457E" />
    <add key="database.name" value="tempEasternUniqueTestDatabase0001x" />
    <add key="user.name" value="admin" />
    <add key="user.password" value="admin" />
  </appSettings>
</configuration>