<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="hostname" value="127.0.0.1" />
    <add key="port" value="2424" />
    <add key="root.name" value="root" />
    <add key="root.password" value="84079F1F2D9C6DB52DFE94A5F4B0D9F33C2390E70931E16AF77E191B929C857C" />
    <add key="database.name" value="tempEasternUniqueTestDatabase0001x" />
    <add key="user.name" value="admin" />
    <add key="user.password" value="admin" />
  </appSettings>
</configuration>